* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#calculator {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 495px;
    width: 245px;
    background-color: #080808;
    border-radius: 30px;
    font-family: Helvetica, sans-serif;
}
#calculator:after, 
#calculator:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content:'';
    border-radius: 30px;
}
#calculator:before {
    border: 4px solid gray;
  }

#calculator:after {
    border: 2px solid white;
    outline: 1px black solid;
  }


#camera{
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px #080808 solid;
    background:linear-gradient(to right, green, blue);
    border-radius: 50%;
    height: 5px;
    width: 5px;

}

#notch{
    position: absolute;
    top: 4px;
    width: 90px;
    height: 25px;
    border-radius: 0 0 20px 20px;
    background-color: #000;
}


#button-volume1, #button-volume2, #slider-volume{
    position: absolute;
    left: -3px;
    width: 3px;
    border: 1px #000 solid;
    height: 37px;
    background-color: #bec5c7;
    border-radius: 10px 0 0 10px;
}

#slider-volume{
    top: 100px;
    height: 16px;
}

#button-volume1{
    top: 134px;
}

#button-volume2{
    top: 182px;
}
#status-bar{
    position: absolute;
    width: 100%;
    color: #fff;
    top: 15px;
    left: 30px;
    font-size: 0.6em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#icons{
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#icons span{
    font-size: 1.5em;
}
#screen {
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
    height: 30%;
    width: 100%;
    color: #fff;
    padding-right: 30px;
}



#current-number{
    font-size: 3em;
}
#previous-number{
    font-size: 2em;
    color: #A0A0A0;
}

#buttons {
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}


#buttons button {
    font-size: 1.4em;
    width: 45px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.numbers[value="0"] {
    grid-column: span 2;
    width: 100px !important;
    padding-left: 20px;
    text-align: left;
    border-radius: 30px !important;
}

.numbers {
    background-color: #313131;
    color: #fff;
}

#ac,
#plus-minus,
#percentage {
    background-color: #A0A0A0;
}

#division,
#multiplication,
#subtraction,
#addition,
#equal {
    background-color: #F69906;
    color: #fff;
    font-size: 200px;
}

#divider{
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: white;
    bottom: 15px;
    border-radius: 2px;
}